body{
    margin:0 0 50px;
}

[hidden] {
    display: none !important;
}

h1{
    margin:0;
    font-size: 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
}

p{
    color: white;
    font-size: 10px;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 3px;
}

a{
    font-size: 10px;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
}

ul{
    list-style-type: none;
    display:flex;
    flex-basis: 100%;
    overflow: hidden;
}

.navbar{
    margin: 10px 10% 0 10%;
    display: flex;
}

.navbar__logo{
    width:150px
}

.navbar__list {
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: auto;
    max-width: 500px;
}

.navbar__item{
    flex: 1 1 0;
    margin-right: 10px;
    padding: 5px 0 5px 0;
    text-align: center;
}

.navbar__item a{
    color: gray;
    text-align: center;
    text-decoration: none;
}

.navbar__item:hover, .navbar__item:hover > a {
    color:white;
    background-color:#EF708B;
    cursor: pointer;
}

.navbar__icon{
    margin-left: 20px;
    text-align: center;
    color: #EF708B;
    cursor: pointer;
}

.searchBar{
    margin-right: 10%;
    display: flex;
    flex-direction: row-reverse;
}

.searchBar__input{
    border: none;
    background-color: #EF708B;
    color: white;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
}

.searchBar__input::placeholder{
    color: white;
}

.navbar__icon--search{
    margin: 0;
    border: none;
    background-color: white;
}


.header{
    position: relative;
    text-align: center;
    margin-top: 10px;
    background-image:linear-gradient(
        rgb(239, 112, 139, 0.7),
        rgb(239, 112, 139, 0.7)
      ), url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-position: center;
    height: 500px;
}
.header__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__text{
    margin: 25px 0 25px 0;
}

.header__button{
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: #EF708B;
    font-size: 8px;
    font-family: 'Questrial', sans-serif;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.gridNavBar{
    margin: 50px 0px 0px 0px;
    text-align: center;
}

.gridNavBar__menuContainer{
    width: 30%;
    margin: 50px auto;
}

#grid{
    margin: 0 auto;
    max-width: 41em;
    column-gap: 5px;
    column-count: 3;
    text-align: center;
    transition: opacity 4000ms;
    will-change: opacity;
}

.grid__error{
    color: #EF708B;
    text-align: center;
}

.grid__image{
    padding: 5px;
    margin: 0 0 5px;
}

@media (max-width: 600px) {
    #grid {
        column-count: 1;
    }
    .grid__image{
        padding: 0;
        margin: 0;
    }
}

.footer{
    margin-top: 30px;
    text-align: center;
}

.footer__button{
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    background-color: #EF708B;
    color: white;
    font-size: 8px;
    font-family: 'Questrial', sans-serif;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.footer--text{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(189, 182, 182);
    margin-bottom: 15px;
}

.footer--span{
    color: #EF708B;
}

.footer__icons > i{
    font-size: 10px;
    color: rgb(189, 182, 182);
    margin: 15px 10px 0px 0px;
}

